# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor folders and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
active_project.json
firebase-debug.log
firestore-debug.log
ui-debug.log

# AppSheet / Apps Script
.clasp.json
appsscript.json.backup

# Testing
/coverage
/.nyc_output

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
node_modules
